services:
  postgres:
    image: pgvector/pgvector:pg16
    container_name: datanav_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: datanav
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - default_network

volumes:
  postgres_data:
  postgres_test_data:

networks:
  default_network:
    driver: bridge 